In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [123]:
credits = pd.read_csv("dataset/tmdb_5000_credits.csv")
movies = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [124]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [125]:
credits.head(1)['crew']

0    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: crew, dtype: object

In [126]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [127]:
credits.shape

(4803, 4)

In [128]:
movies = pd.merge(movies,credits,left_on='id',right_on='movie_id',how='inner')

In [129]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

# Feature Selection
### genres	
### id
### keywords
### overview
### title_x
### cast
### crew

In [130]:
df = movies[['id','title_x','keywords','genres','overview','cast','crew']]

In [131]:
df.head(1)

,id,title_x,keywords,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [132]:
df.shape

(4803, 7)

In [133]:
df.isnull().sum()

id          0
title_x     0
keywords    0
genres      0
overview    3
cast        0
crew        0
dtype: int64

In [134]:
df.dropna(inplace=True)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [135]:
df.isnull().sum()

id          0
title_x     0
keywords    0
genres      0
overview    0
cast        0
crew        0
dtype: int64

In [136]:
df.shape

(4800, 7)

In [137]:
df.duplicated().sum()

np.int64(0)

In [138]:
df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [139]:
import ast
def get(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [140]:
df['genres'] = df['genres'].apply(get)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\2380570256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(get)

In [141]:
df['keywords'] = df['keywords'].apply(get)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3420673314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(get)

In [142]:
import ast
def cas(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter<4:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [143]:
df['cast'] = df['cast'].apply(cas)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\1504945717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(cas)

In [144]:
df.head(1)['cast'][0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang']

In [145]:
import ast
def director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [146]:
df['crew'] = df['crew'].apply(director)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\746856341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(director)

In [147]:
df.head(1)['crew'][0]

['James Cameron']

In [148]:
df['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [149]:
df['overview'] = df['overview'].apply(lambda x:x.split())

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\2950014412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].apply(lambda x:x.split())

In [150]:
df.head(1)

,id,title_x,keywords,genres,overview,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [151]:
df['genres'] = df['genres'].apply(lambda x: [i.replace(" ","") for i in x])

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3724843373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(lambda x: [i.replace(" ","") for i in x])

In [152]:
df['cast'] = df['cast'].apply(lambda x: [i.replace(" ","") for i in x])

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3422484759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(lambda x: [i.replace(" ","") for i in x])

In [153]:
df['crew'] = df['crew'].apply(lambda x: [i.replace(" ","") for i in x])
df['keywords'] = df['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\982390001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(lambda x: [i.replace(" ","") for i in x])
C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\982390001.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [154]:
df['tags'] = df['keywords'] + df['genres'] + df['overview'] + df['cast'] + df['crew']

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3615335239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['keywords'] + df['genres'] + df['overview'] + df['cast'] + df['crew']

In [155]:
df.head(1)

,id,title_x,keywords,genres,overview,cast,crew,tags
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."

In [156]:
new_df = df[['id', 'title_x','tags']]

In [157]:
new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\4095421860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

In [158]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [159]:
new_df.head()

,id,title_x,tags
0,19995,Avatar,cultureclash future spacewar spacecolony socie...
1,285,Pirates of the Caribbean: At World's End,ocean drugabuse exoticisland eastindiatradingc...
2,206647,Spectre,spy basedonnovel secretagent sequel mi6 britis...
3,49026,The Dark Knight Rises,dccomics crimefighter terrorist secretidentity...
4,49529,John Carter,basedonnovel mars medallion spacetravel prince...

In [160]:
new_df['tags'][0]

'cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d action adventure fantasy sciencefiction in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. samworthington zoesaldana sigourneyweaver stephenlang jamescameron'

In [161]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [162]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [163]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0])

In [164]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [165]:
from nltk.stem.porter import PorterStemmer

In [166]:
ps = PorterStemmer()

In [167]:
def stem(text):
    t = []
    for i in text.split():
        t.append(ps.stem(i))
    return " ".join(t)

In [168]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [169]:
new_df['tags'].shape

(4800,)

In [170]:
from sklearn.metrics.pairwise import cosine_similarity

In [171]:
similarity = cosine_similarity(vector)

In [172]:
sorted(list(enumerate(similarity[1])), reverse =True , key = lambda x:x[1])[1:6]

[(12, np.float64(0.4342995181076895)),
 (17, np.float64(0.26940795304016235)),
 (199, np.float64(0.2671036121482476)),
 (3567, np.float64(0.2165063509461097)),
 (216, np.float64(0.2041241452319315))]

In [173]:
new_df[new_df['title_x']=='Batman Begins'].index

Index([119], dtype='int64')

In [174]:
def recommend(movies):
    movie_index = new_df[new_df['title_x']==movies].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse =True , key = lambda x:x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]][1])

In [175]:
recommend('Ladder 49')

Highway
Firewall
Patriot Games
A Thousand Words
I Am Wrath

C:\Users\RAM R\AppData\Local\Temp\ipykernel_10564\1063248929.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(new_df.iloc[i[0]][1])